* { margin: 0;
padding: 0;
box-sizing: border-box;}


.roboto-flex-uniquifier {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* mobile*/ 
.main-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15dvh 15dvh 30fr 15dvh;
    grid-template-areas:  'header'
                          'menu' 
                          'main'
                          'footer';
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    background-color: rgb(10, 82, 25);
    height: 10dvh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}


.navbox {
     display: flex;
    flex-direction: row;
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size:x-large;
    margin-left: 3dvh;
    margin-top: 3dvh;
    gap: 17dvh;

}


.logo img {
    max-width: 7dvh;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1vh;
    margin-left: 1.5vh;
}

.menu {
    grid-area: menu;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 10dvh;
    border-right: 1px solid rgb(5, 56, 8);

}

label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

select {
      width: 250px;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 16px;
    }


.main { 
    grid-area: main;
    background-color: rgb(255, 255, 255);
    overflow: backdrop;
}

.caja-producto {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    margin-left: 6dvh;
    margin-bottom: 5dvh;
}

.caja-producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

.texto-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2dvh;
    margin-bottom: 2dvh;
}

.mi-boton {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(16, 80, 32); 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color b 0.3s ease;
}

.mi-boton:hover {
    background-color: #a689ee; 
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(5, 56, 8);
    color: rgb(255, 255, 255);
    font-size: small;
    text-align: center;
    column-gap: 3dvh;
}

.footer .redes {
  display: flex;
  flex-direction: row; 
  gap: 3dvh; 
  margin-top: 1dvh;
}


/* pc */