* { margin: 0;
padding: 0;
box-sizing: border-box;}


.roboto-flex-uniquifier {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* mobile*/ 
.main-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10dvh 13dvh 8fr 10dvh;
    grid-template-areas:  'header'
                          'menu' 
                          'main'
                          'footer';
    
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(5, 56, 8);
    height: 10dvh;
}

nav {
    grid-area: 'header';
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}

.logo img {
    max-width: 7dvh;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1dvh;
    margin-left: 1dvh;
}

h2 {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    margin-left: 10dvh;
    margin-top: 3dvh;
    font-size: x-large;
    font-weight: bold;
}

.burger {
  display:block; 
  display: flex;
  align-items: center;
  margin-left: 10dvh;
  font-size: 4dvh;
  cursor: pointer;
}

.lista {
  display:none;
}


.menu {
    grid-area: menu;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 10dvh;
    border-right: 1px solid rgb(5, 56, 8);

}

label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

select {
      width: 250px;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 16px;
    }


.main { 
    grid-area: 'main';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow-y: auto;
    
}

.caja-producto {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    width: 80%;
    margin-bottom: 5dvh;
}

.caja-producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

.texto-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2dvh;
    margin-bottom: 2dvh;
}

.mi-boton {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(16, 80, 32); 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color b 0.3s ease;
}

.mi-boton:hover {
    background-color: #a689ee; 
}

.footer {
    grid-area: 'footer';
    display: flex;
    justify-content:first baseline;
    align-items: center;
    flex-direction: column;
    background-color: rgb(10, 82, 25);
    color: rgb(255, 255, 255);
    font-size: small;
    text-align: center;
    column-gap: 3dvh;
    padding: 2%;

}

.footer .redes {
    grid-area: 'footer';
    display: flex;
    flex-direction: row; 
    gap: 3dvh; 
    margin-top: 1dvh;
}


/* pc */
