* { margin: 0;
padding: 0;
box-sizing: border-box;}


.roboto-flex-uniquifier {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* mobile*/ 
.main-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10dvh 3fr 5dvh;
    grid-template-areas:  'header'
                          'menu' 
                          'main'
                          'footer';
    height: 100dvh;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    background-color: rgb(10, 82, 25);

    
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbox {
    list-style: none;
}

.navbox li p {
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size:x-large;
    margin-left: 3dvh;

}


.logo img {
    max-width: 7dvh;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1vh;
    margin-left: 1.5vh;
}

.menu {
    grid-area: menu;
    grid-template-rows: 2fr;
    background-color: rgb(255, 255, 255);
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(5, 56, 8);
    
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    border-right: 1px solid rgb(5, 56, 8);

}

label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

select {
      width: 250px;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
/* tablet*/


/* pc */